@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.user-icon {
  border-radius: 50%;
  width: 30px;
}

#__next > div > div:nth-child(1) > div > div > img {
  width: 96px;
  height: 96px;
  margin-top: 5px;
}

#__next > div > div:nth-child(1) > div > div {
  align-items: center;
  margin: 10px 0px 10px;
}

.search {
  display: flex;
  justify-content: center;
}

.searchInput {
  max-width: 60%;
}

.btn {
  margin: 5px;
}

